$el-height : 225px;

body {
	text-align: center;
}

figure {
	display: inline-block;
	height: $el-height;
	margin: 5px 0px;

	img {
		height: 100%;
		max-width: 100%;
	}

	.placeholder {
		display: inline-block;
		height: 100%;
		width: 5px;
		margin: 0px 3px;
	}
}


